* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background: url("../start-page/paper-texture-close-up.jpg") fixed center/cover;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
}

.text {
    font-family: "Playwrite DE Grund";
    font-size: 24px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}